.video-placeholder{
    position: relative;
    background-color: black;
    color: white;
    padding-top: 56.25%;
    width: 100%;
    max-width: 100%;

    &__header{
        font-size: 1rem;
        position: absolute;
        top: 50%;
        transform: translateX(-50%);
        left: 50%;;
    }
}

.video{
    &__views{
        font-size: 1.125rem;
        margin-bottom: 10px;
    }

    &__voting{
        font-size: 14px;
    }

    &__voting-button{
        color: #636b6f;

        &:focus, &:hover{
          text-decoration: none;  
        }

        &--voted{
            color: #3097d1;
        }
    }
}